absl-py==0.7.0
altgraph==0.17
astor==0.7.1
astropy==4.1
auditok==0.1.8
autosub @ file:///D:/autosub-dev/autosub-dev
cachetools==4.1.1
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
colorama==0.4.4
contextvars==2.4
dataclasses==0.7
ffmpeg==1.4
ffmpeg-normalize==1.20.1
ffprobe==0.5
filelock==3.0.12
future==0.18.2
fuzzywuzzy==0.18.0
gast==0.2.2
google-api-core==1.23.0
google-auth==1.23.0
google-cloud-core==1.5.0
google-cloud-speech==1.3.2
googleapis-common-protos==1.52.0
googletrans==2.3.0
grpcio==1.33.2
h11==0.9.0
h2==3.2.0
h5py==2.9.0
hpack==3.0.0
hstspreload==2020.10.20
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
immutables==0.14
importlib-metadata==3.4.0
joblib==1.0.0
jplephem==2.15
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
libcst==0.3.13
lxml==4.6.1
Markdown==3.0.1
mock==2.0.0
mypy-extensions==0.4.3
numpy==1.16.2
packaging==20.9
pandas==0.24.1
pbr==5.1.3
pefile==2019.4.18
progressbar2==3.53.1
proto-plus==1.11.0
protobuf==3.13.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pygoogletranslation==1.0.4
pyinstaller==4.1
pyinstaller-hooks-contrib==2020.10
pyparsing==2.4.7
PyQt5==5.15.2
PyQt5-sip==12.8.1
PyQt5-stubs==5.15.2.0
pysubs2==0.2.4
python-dateutil==2.8.0
python-docx==0.8.10
python-utils==2.4.0
pytz==2018.9
pywin32==300
pywin32-ctypes==0.2.0
PyYAML==5.3.1
regex==2020.11.13
requests==2.24.0
rfc3986==1.4.0
rsa==4.6
sacremoses==0.0.43
scipy==1.2.1
Send2Trash==1.5.0
sentencepiece==0.1.95
sgp4==2.13
six==1.15.0
skyfield==1.33
sniffio==1.2.0
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
tokenizers==0.9.4
tqdm==4.51.0
typing-extensions==3.7.4.3
typing-inspect==0.6.0
Unidecode==1.1.2
urllib3==1.25.11
wcwidth==0.2.5
webrtcvad==2.0.11.dev0
websocket-client==0.57.0
Werkzeug==0.14.1
WMI==1.5.1
youtube-dl==2019.6.8
zipp==3.4.0
